[2015-07-10 00:51] gsstudios opened #2 "Ext4 is not mounting properly"
Ext4 needs to be fixed in dorimanx kernel. I believe it is to do with the init commits.

[2015-07-10 00:52] gsstudios opened #3 "Mdnie sharpness tweaks gives bootloop"
Applies only to lollipop kernel, the code will need to be updated for lollipop ROM

[2015-07-10 00:53] gsstudios opened #4 "Stweaks doesn't install on kernel install"
Stweaks is not installing when you install the kernel. There is something different about how lollipop treats system apps.

[2015-07-10 00:57] gsstudios opened #5 "color changing"
that would be cool for old s2 screens mate

[2015-07-10 00:58] gsstudios opened #6 "Update WiFi drivers"
For faster WiFi speeds and other improvements

[2015-07-10 00:59] gsstudios opened #7 "Update CPU governors"
All governors from alucard should be updated

[2015-07-10 01:12] gsstudios opened #8 "Allow stweaks to TRIM phone"
Implement TRIM feature from chhapil's dorimanx kernel.

[2015-07-10 01:13] gsstudios opened #9 "Support other lollipop ROMs"
Lollipop kernel only supports CM12.1 based ROMs.

[2015-07-10 01:43] gsstudios commented on #3
A quick fix was done to prevent users from enabling the sharpness tweak.

[2015-07-10 06:40] dragonGR opened #10 "Wifi wont work"
Sometimes, when you flashed a wrong gapps the wifi doesnt even works... doesnt open. on KK.

[2015-07-10 06:46] gsstudios commented on #10
This bug should be fixed once I update wifi drivers.

[2015-07-11 23:44] ghost opened #11 "Make WiFi connect to Ad-hoc networks."
It would be great to connect to the networks created with the WiFi cards from Notebooks that don't support Master/AP mode and work on Ad-hoc mode only, wich I belive it is a mayority, without the need for a router/repeater.

[2015-07-11 23:55] ghost opened #12 "Bluetooth Tether from WiFi network instead of normal 2g/3g network."
I don't know if this is even posible with the hardware of our I9100. But sharing this way would open up very much interesting posibilities. One being for the S2 to act as a repeater.

[2015-07-12 00:15] gsstudios commented on #12
I don't think it is possible for kernel to do this.

[2015-07-12 00:17] gsstudios commented on #11
Is this a feature available on other kernels or ROMs?

[2015-07-12 00:19] ghost commented on #11
[In this thread](http://forum.xda-developers.com/nexus-s/help/solved-how-to-connect-to-ad-hoc-ibss-t1591207/page4) are two methods:
1- From the OP who tells to replace a the wpa_supplicant file.
2- One of the comentaries tell to just modify the wpa_supplicant.conf file wich is restored on every manual scan, wich I think it's safer.

[2015-07-12 00:23] ghost commented on #12
yeah, I knew that the WiFi/Bluetooth chip it a composed one with the two functions, so probably  its a hardware limitation. Thanks anyway :+1:

[2015-07-12 00:28] ghost commented on #11
Not that I know of. I searched a couple of years ago and the method of changing wpa_supplicant file sounded a bit unstable. Now I found the new info on modifying the .conf file wich sounds promessing.

[2015-07-12 01:07] ghost commented on #12
¡¡¡Good news¡¡¡ it seems this always worked out of the box. I guess i got confused with so many new and old divices in my hands...
Just that the bluetooth signal isn't that stong using this mode.
Now I recently saw an option in the developer options/menu of the RR-Lp rom, wich seem to restore strengh to wifi in normal tethering. I wonder what effect will it have in this mode.
Sorry for the inconve

[2015-07-12 01:08] #12 closed, assigned to nobody

[2015-07-12 01:20] ghost commented on #11
I believe that the network has to be encripted, wep or wpa2 maybe for the method that changes the .conf file to work properly.

[2015-07-12 20:43] ghost opened #13 "Can't mount NTFS partitions on Recovery but does on booted up system."
Format can't neither, that I did on Philz recovery, Anyway the internal and external sd works well and faster than default fat on RR-lp with this kernel but on recovery doesn't mount them so can not install anything from there nor fix a broken system if it were.

[2015-07-12 21:19] ghost opened #14 "Zipalign from Stweaks deletes simlinks to apps"
I believe it has to do with something relative to permission management as it changes permission to the folders of the apps on /data/app. The apps are fixed by de system after wiping cache wich i think relinks them back.

[2015-07-13 06:19] gsstudios opened #15 "Fix permissions button doesn't work"
Fix permissions command doesn't work in stweaks. I believe this is because script is not located in initramfs source.

[2015-07-13 06:20] gsstudios commented on #15
Should be fixed in release 10.45v020 and 11.0b004

Edit: Silly me, problem was not fixed in versions above. The whole script itself in /sbin needs to be reworked, but there's no point since we don't really need it in KK or LP. The script is old and bugged.

[2015-07-16 22:04] gsstudios commented on #6
Update: Updating wifi drivers now.

[2015-07-17 10:10] #6 closed, assigned to gsstudios

[2015-07-17 10:11] gsstudios commented on #6
Wifi drivers have been updated for Dorimanx 10.45 v021 and Dorimanx 11.0 b005.

[2015-07-17 10:12] gsstudios commented on #10
This problem should be fixed with dorimanx 10.45 v021.

[2015-07-17 10:14] gsstudios commented on #11
Following your XDA post, I've updated wifi drivers to bring us a step closer in adding this feature.

[2015-07-17 10:25] gsstudios commented on #8
This feature isn't require to use TRIM on phone. It would be a nice feature, but in the end, it will cause more problems than convenience.

[2015-07-17 10:25] #8 closed, assigned to gsstudios

[2015-07-17 20:02] ghost commented on #11
Great, man!
Here its a most interesting info
http://thinktube.com/index.php/tech-en/android/wifi-ibss
I believe they are the creators of the patchs.

Here they are implemented on a AOKP rom project
http://gerrit.aokp.co/#/q/ad%20hoc
The latest one ads them to LP

This I use to test the connectiviy thru Terminal as it install iwconfig and other usefull binaries.
http://bcmon.blogspot.com.ar/2012/09

[2015-07-17 22:28] gsstudios commented on #4
stweaks should be installed in priv-app folder instead. The system/app folder seems read only.

[2015-07-18 23:41] gsstudios opened #16 "Wifi passwords can't be remembered for some users"
New wifi driver update has left some people with their device forgetting wifi passwords.

[2015-07-18 23:42] #10 closed, assigned to gsstudios

[2015-07-19 01:54] gsstudios commented on #11
i think all main required patches to make IBSS mode (Ad-hoc) was already included with new wifi driver. So now we just need to debug to see what's to root cause

[2015-07-20 02:52] ghost commented on #11
Ok. I'll try to find a propper way to debug it. Maybe has something to do
with ip becose on DHCP it does nothing but with static it at least try to
connect a while until it fails, like it sudenly recongnices the network as
ad-hoc and refuses to connect. I'm realky axious to see some logs or
debugging but my hdd died and im runing linux from a 4gb pendrive with 0
space left.
Is there a way to see s

[2015-07-21 02:17] gsstudios commented on #11
I'm not too sure if we can get live wifi logging. (I don't know any way to).

[2015-07-21 02:20] gsstudios commented on #2
@computoncio @ataliba @stantrc @dorimanx @chhapil @stelistcristi

hi other devs and former devs of dorimanx kernel of the s2, I'm trying to solve the problem where ext4 is not mounting. I'm pretty sure most of the code required has already been included in the kernel, but there is something missing that is preventing people from mounting their internal and external sd cards.

If you guys have time

[2015-07-21 02:26] gsstudios commented on #3
I've looked at the code, it seems alright, but the cause is still unknown.

[2015-07-21 02:28] gsstudios commented on #16
The problem happens in both kk and lp kernels. It only occurs on certain ROMs such as RR.

[2015-07-21 02:30] gsstudios commented on #7
Due to discontinued support from alucard, the new governor code only supports snapdragon SOCs. Thus, updating govs like nightmare and darkness will take too much work.

[2015-07-21 02:30] #7 closed, assigned to gsstudios

[2015-07-21 02:31] gsstudios commented on #9
@lysergic-acid, If you have free time, could you please help me merge more ramdisks?

regards, gsstudios.

[2015-07-21 06:20] StanTRC commented on #2
where is your logs?

[2015-07-21 08:02] gsstudios commented on #2
I will ask people on XDA if they can provide logs since my internal and external storage are formatted as fat32

[2015-07-21 17:14] CaioSchnepper commented on #9
Will be done when I'm with time available and using my linux machine :)

[2015-07-21 21:51] gsstudios commented on #9
Thanks LA. You're the best!

[2015-07-22 03:39] gsstudios commented on #2
Here are some logs: http://forum.xda-developers.com/showpost.php?p=61976201&postcount=243

[2015-07-22 09:30] gsstudios commented on #16
After a reboot from system crash, it seems that wifi passwords were deleted. Passwords don't seem to delete from reboot if system doesn't crash.

[2015-07-23 17:45] ghost commented on #11
I found some tools for live logging on the repository of F-Droid app. I just have to learn how to use them properly and read logs.

Here http://thinktube.com/index.php/tech-en/android/wifi-ibss says that Nexus 7 works well with ad-hocs on cm12. I see that it has the same wifi chipset that our I9100. Could the wifi drivers for the Nexus 7 work for the S2? or at least maybe give some clues.

[2015-07-24 07:19] gsstudios commented on #11
I have done all of the other changes in the .patch that wasn't applied to the config file yet (last time, only the main line was added). I hope it should work after the next build.

[2015-08-17 09:26] gsstudios commented on #16
Wifi driver was reverted so this bug is fixed.

[2015-08-17 09:26] #16 closed, assigned to gsstudios

[2015-08-17 09:27] gsstudios commented on #11
I think I will have to abandon this feature request since I believe I will create more issues than make the kernel any better.

[2015-08-17 09:27] #11 closed, assigned to gsstudios

[2015-10-13 06:59] gsstudios commented on #9
I will attempt to update the kernel ramdisk sometime late november or early december.

[2015-11-06 22:45] gsstudios opened #17 "Constant wakelocks in 8.XX kernels"
There is a constant wakelock in DorimanX 8.XX builds that seems to come from the kernel.

Possible causes are:
- Toolchain
- initramfs changes
- kernel base changes

[2015-11-06 22:47] gsstudios commented on #5
Not a change that is essential to DorimanX kernel. Because of this,  I will not add this.

[2015-11-23 20:58] gsstudios opened #20 "VPN doesn't work on LP"
VPN doesn't work on DorimanX kernel. However it works with stock LP kernels.

Reports:
http://forum.xda-developers.com/showpost.php?p=65019183&postcount=713

[2015-11-23 21:00] gsstudios opened #21 "IPV6 Doesn't work"
IPV6 doesn't work on DorimanX kernel. Enabling the toggle gives bootloops and issues.

[2015-11-23 21:00] gsstudios commented on #2
@computoncio, could you please help me look into this issue.

thanks.

[2015-11-23 21:07] gsstudios opened #22 "Root install doesn't work in stweaks"
The root installer in stweaks needs to be updated for lollipop just in case people want to re-root their device.

[2015-12-02 07:46] gsstudios opened #23 "Selinux needs to be permissive for MM kernel to work"
Selinux disabled messes up a lot of things in Marshmallow. Marshmallow needs at least selinux permissive to be functional.

Thanks to @realex-fire, kernel compiles with selinux, but this breaks the loading of the kernel :(

**Current problems with selinux disabled**
- Vold relies on setexeccon which requires selinux to be enabled.
- Probably many other things because of stricter policies in CM13

[2016-01-20 23:54] gsstudios commented on #22
Option removed from stweaks.

[2016-01-23 00:19] gsstudios commented on #23
Selinux-enable branch was created to address selinux issues

[2016-01-23 01:13] gsstudios commented on #23
@chhapil @realex-fire

Do you guys know how to debug this:

security/security.c: In function ‘security_inode_init_security’:
security/security.c:364:7: warning: passing argument 4 of ‘security_ops->inode_init_security’ from incompatible pointer type
       &lsm_xattr->name,
       ^
security/security.c:364:7: note: expected ‘char *_’ but argument is of type ‘const char *_’ - note from me: This is

[2016-01-23 02:10] chhapil commented on #23
Somewhere the char variable is defined as const, either in function
declaration or while defining the variable.
You may have to remove const keyword
On 23 Jan 2016 06:43, "Josh" notifications@github.com wrote:

[2016-01-23 02:55] chhapil opened #25 "Fix pstore to capture kernel logs"
Hi,
I'm trying to enable pstore to capture kernel panic, or bootloop. But whenever I enable pstore entries in defconfig kernel gets stuck on boot. Can you check at your end?

[2016-01-23 03:57] gsstudios commented on #25
Not on my PC at the moment. When I get the chance, will give results.

[2016-01-27 06:48] gsstudios opened #26 "BLN doesn't work"
@kularny

BLN not been working on DorimanX kernel since CM12.1 was released.

A possible workaround is already available on the XDA developer forums, but a proper fix is needed.

Any ideas if this is ROM related or if something needs to be changed in the kernel?

Thanks.

[2016-01-27 06:50] gsstudios commented on #25
Sorry for not keeping my word. Will do so after I release a new build for LP (no later than tomorrow).

[2016-01-27 06:55] chhapil commented on #25
No worries mate. I have been also keeping busy a lot.
Not able to do anything on dorimanx front at all.
Hopefully I should be on weekend to have a look again
On Jan 27, 2016 12:20 PM, "Josh" notifications@github.com wrote:

[2016-01-27 13:30] arny24x7 commented on #26
http://review.cyanogenmod.org/#/c/130043/

For CM il create a new commit bcoz prebuilt .so needs to reside on vendor_samsung from Muppets. But Iam using the above mentioned commit.

https://github.com/kularny/android_hardware_samsung/commit/01c8bc82ae4a8e5eb6907f2f8b4137931a98b772

https://github.com/kularny/android_device_samsung_galaxys2-common/commit/cc356678881f1190eb88ee817f21d861c16fe324

Or

[2016-01-27 13:35] arny24x7 commented on #26
I had to compile the lights.c outside build and use the resultant ndk .so bcoz few codes in the bln supported code breaks build and even if i bypass them with pragma push..it doesnt work...so had to backport the old codes from the bln lights.c to the new lights.c from insignal and using a prebuilt c shared lib so that users might not face build issues.

[2016-01-27 19:24] gsstudios commented on #26
OK, so what I get from this is that I can modify updater script to automatically replace the bln files.

[2016-01-27 19:55] gsstudios commented on #26
So when I use package extract directory, will it replace the destination file or will I have to remove from original destination?

[2016-01-27 23:10] arny24x7 commented on #26
run_program("/sbin/busybox", "mount", "/system");
delete("/system/lib/hw/lights.exynos4.so");
package_extract_dir("system", "/system");
run_program("/sbin/busybox", "unmount", "/system");

In the system folder, place lib/hw/lights.exynos4.so

Thats it.

[2016-01-27 23:20] gsstudios commented on #26
Oh, I already got it working on my kernel :) Thanks anyway.

[2016-01-27 23:21] gsstudios commented on #26
So I currently have it set so it copies it to the required destination. It will also change permission to 644. I didn't make it delete anything but it works.

[2016-01-27 23:24] arny24x7 commented on #26
Plz make sure it deletes. thats the proper way. Dont do it directly. And I will be pushing a new commit for cm soon. Il just have to link hardware_samsung with prop_vendor_samsung with a conditional flag to be set in boardconfigcommon.mk in s2_common.

[2016-01-27 23:28] gsstudios commented on #26
Ok. Will make sure.

[2016-01-27 23:34] arny24x7 commented on #26
btw permission 644 is not required as the hw folder has itself the perms required and hence all the sub-files easily inherit that permission.

[2016-01-27 23:38] gsstudios commented on #26
Ok, thanks. Will remove unnecessary line

[2016-01-28 00:23] gsstudios commented on #26
I will close this issue unless there are problems that we may come across. Thanks kularny!

[2016-01-28 00:23] #26 closed, assigned to gsstudios

[2016-01-28 02:41] arny24x7 commented on #26
ur wc

[2016-01-28 03:50] gsstudios commented on #20
@chhapil @realex-fire

Any places where I should start looking? Any tips or info that would help me would be greatly appreciated.

Thanks, josh

[2016-01-28 03:53] gsstudios commented on #23
Selinux work will be discontinued for a bit. Will need to spend time fixing other bugs before solving this :)

[2016-01-29 04:26] chhapil commented on #25
hey mate, was able catch some breath and now able to enable pstore. will commit the code now

[2016-01-30 04:04] arny24x7 commented on #26
What changes u made in kernel side to fix bln without tge the lights.c???

[2016-01-30 04:57] gsstudios commented on #25
I guess I can close the issue now since it has been merged already.

[2016-01-30 04:58] gsstudios commented on #4
Issue fixed in b024 thanks to @realex-fire

[2016-01-30 04:58] #4 closed, assigned to gsstudios

[2016-01-30 04:59] gsstudios commented on #20
Will investigate this issue soon. Root cause has still been unidentified.

[2016-01-30 05:01] gsstudios commented on #26
I think its better to ask realex-fire. BLN is still working on my side, so it could be something related to the post-init or init scripts that have now been updated to properly support cm12.1.

[2016-01-30 05:03] arny24x7 commented on #26
Ya i asked him...in my kernel...without that..it wont work...there got to be some module built in for BLN by dorimanx himself.

[2016-01-30 05:07] gsstudios commented on #26
There is another lights.exynos4.so file in the initramfs repo. I believe something in the post-init or install.sh triggers the kernel to do something similar. Not quite sure though.

[2016-01-30 05:08] arny24x7 commented on #26
yup thats it. Thanks

[2016-01-30 05:09] gsstudios commented on #26
I still need to confirm if BLN works on phones that haven't installed the build that changes the ROM BLN file. Will test soon on my other s2.

[2016-01-30 05:09] arny24x7 commented on #26
the path has just been updated...I was also going crazy thinking as to how the lights get controlled by BLN without lights.c

[2016-01-30 05:11] arny24x7 commented on #26
for CM I have to make the patch that I told u earlier for default support.

[2016-01-30 05:13] arny24x7 commented on #26
Practically ur friend used the same lights.exynos4.so module that I made...Just from a different path. Btw hez doe a brilliant job.

[2016-01-30 05:15] gsstudios commented on #26
Yep, he deserves a lot of credit on making DorimanX LP possible :)

[2016-01-30 05:16] arny24x7 commented on #26
Ya say congrats to him from me and hello too.

[2016-01-30 05:33] chhapil commented on #25
Let's keep it open I guess. Although it's enabled it doesn't log the kernel
panic or sod. Looks like a lot of changes from mm and fs has to be merged.
On Jan 30, 2016 10:27 AM, "Josh" notifications@github.com wrote:

[2016-01-30 13:27] Realex-fire commented on #26
https://github.com/gsstudios/initramfs3/blob/master-lp/sbin/ext/install.sh#L191 - it is an installation of lights.exynos4.so
https://github.com/gsstudios/initramfs3/blob/master-lp/sbin/ext/post-init.sh#L115 - this line install.sh script is caused. (it was commented out)

[2016-01-30 14:17] Realex-fire commented on #20
@gsstudios
Try to change these lines in sbin/init: (initramfs3)

[code]

Make so: (so was in kk branch)

[code]

report about results and still try to launch cm11 on lp branch.
good luck ;)

[2016-01-30 14:52] arny24x7 commented on #26
Got it. Thanks.

[2016-01-30 19:51] gsstudios commented on #20
Thanks, will test soon.

[2016-01-30 23:28] gsstudios commented on #20
Ehm, it broke wifi. Probably best to keep it commented for now.

[2016-02-14 04:51] gsstudios commented on #14
https://github.com/gsstudios/initramfs3/commit/b8185af6975b76c13424d4e9c40550a58ac8b18d

According to DorimanX, zipalign only works on dalvik. ART doesn't support this function causing this problem described above. This also fixes a nasty bug on performance profiles.

[2016-02-14 04:51] #14 closed, assigned to gsstudios

[2016-02-15 05:18] gsstudios commented on #15
https://github.com/gsstudios/initramfs3/commit/9835919c2a7113ea062cbbf8ba85327392577382

As explained in the above link, we really don't need this function in the kernel because Lollipop is already advanced enough. No point keeping it in kernel or fixing it if it is not needed! :)

I have confirmed all of this in the fix-permissions.log file it creates after script is complete, and it is empty!

[2016-02-15 07:10] gsstudios commented on #15
Due to all of the SODs with the fix, I will keep this open.

[2016-02-16 07:20] gsstudios opened #31 "Kernel SOD on new builds"
Update: CPU governor updates was the main culprit.

From the flood of posts by me, it is probably known that I have been facing SOD problems.

Possible causes:
- My device has some form of corruption, however older builds and my test build works fine.
- Build machine is corrupted? Possible, but I have restored an already confirmed working VM, pulled the changes and same results.

What's been done:

[2016-02-16 07:30] gsstudios commented on #31
Once I reverted everything to the same as b028, SOD disappears. This confirms it is not a problem with build machine or phone. Just one of the changes to the kernel is misbehaving :/

[2016-02-16 08:30] gsstudios commented on #31
Fixed here: https://github.com/gsstudios/Dorimanx-SG2-I9100-Kernel/commit/9921bde46bea1d4c8ee7ac21c77627b8518708d7 and here: https://github.com/gsstudios/initramfs3/commit/4168e3a867e517e50fba63ad1d42a30aaa41a3f0

[2016-02-16 08:30] #31 closed, assigned to gsstudios

[2016-02-16 08:34] gsstudios commented on #15
Will try restoring the commit since SODs are now gone.

[2016-02-16 22:27] gsstudios commented on #15
Commit restore: https://github.com/gsstudios/initramfs3/commit/69f9cef992ba9e69e55419cecb5c31de0ecdaecd

No SODs.

[2016-02-16 22:27] #15 closed, assigned to gsstudios

[2016-02-18 05:50] chhapil opened #33 "Powersuspend driver"
Hi Josh,
Please have a look at the following commits.
1. LCD notify
   This helps detecting screen off state better
   https://github.com/chhapil/Kernel-Lenovo-A6000-KK/commit/a1b4c264ea355399eb11c3f88ef52e2e220fce30
2. Power Suspend Driver
   I had a great standby time due to this on Lenovo A6000
   https://github.com/chhapil/Kernel-Lenovo-A6000-KK/commit/3eed7e7e5d137667cee353698ed6f46d55f0c7f6

[2016-02-18 06:02] gsstudios commented on #33
I'll have a look later when I have the chance :)

[2016-02-18 06:08] gsstudios commented on #33
1) Looks like for newer devices based on qualcomm only.

2) Again, looks like for newer devices only.

[2016-02-18 06:12] gsstudios commented on #33
I don't think they are for exynos chipsets. They are qualcomm specific drivers and not exynos.

[2016-02-18 06:15] chhapil commented on #33
power suspend is a generic driver, you can find that in mainline Linux
also, this was introduced due a older driver was deprecated on android

On Thu, Feb 18, 2016 at 11:42 AM, Josh notifications@github.com wrote:

##

Thanks & Regards
Ruturaj

[2016-02-18 06:28] gsstudios commented on #33
I'm looking at faux123's sources and upintheair's sources as a reference. It does seem like there will be quite a fair bit of work to do. I can see that the Note 3 has them running (via custom kernel) and the Galaxy S6 (exynos, custom kernel only).

[2016-02-19 22:16] #5 closed, assigned to gsstudios

[2016-02-26 00:03] gsstudios opened #34 "advanced support for F2FS"
**Status:** F2FS partitions mount, but we need to fix the init system to properly support F2FS.

**Things to do:**
- Modify init script to run fsck.f2fs on f2fs partitions
- Remove false errors where data partition needs to be fixed

**ETA:** Unknown

[2016-02-26 07:12] gsstudios commented on #34
I'm pretty sure ROM must support F2FS before you can boot with F2FS. It's best to wait until there are some CM12.1 roms that support this soon before moving on to CM13.

[2016-02-27 22:38] gsstudios opened #35 "Launcher and System UI FCs"
@chhapil @kularny

There has been occasional launcher and System UI FCs happening in LP.

Areas of interest:
- Lowmemorykiller: Possible system services are not properly protected from OOM, so it is being killed by OOM - Correct me if I'm wrong
- VM settings is killing the process ??? There may be some form of corruption happening.

Cause: Unknown

Possible workarounds:
- When using Nova Launcher,

[2016-02-27 22:42] gsstudios commented on #35
Here is some logs kindly provided by Skyline: http://forum.xda-developers.com/showpost.php?p=65403303&postcount=859

[2016-02-27 22:45] gsstudios commented on #35
Main commit:
https://github.com/gsstudios/Dorimanx-SG2-I9100-Kernel/commit/4cca3f4a36e3d381fa7f61e49d04d917a3cc8e57

OOM avoid kill processes (our kernel):
https://github.com/gsstudios/Dorimanx-SG2-I9100-Kernel/blob/master-lp/drivers/staging/android/lowmemorykiller.c#L93

OOM avoid kill processes (LG G2 LP kernel):
https://github.com/dorimanx/DORIMANX_LG_STOCK_LP_KERNEL/blob/master/drivers/staging

[2016-02-27 22:48] gsstudios commented on #35
The weird thing is that LG G2 kernel freely allows OOM to kill system processes in LP, whereas our kernel still avoids doing so.

OOM avoid kill processes (LP G2 LP kernel):
https://github.com/dorimanx/DORIMANX_LG_STOCK_LP_KERNEL/blob/master/drivers/staging/android/lowmemorykiller.c#L244
https://github.com/dorimanx/DORIMANX_LG_STOCK_LP_KERNEL/blob/master/drivers/staging/android/lowmemorykiller.c#L

[2016-02-27 22:53] gsstudios commented on #35
Some interesting things in the log linked:

Where all errors start to happen:
02-20 16:02:24.301 I/InputDispatcher(5098): Application is not responding: AppWindowToken{1243a5a4 token=Token{35b98c37 ActivityRecord{38217536 u0 com.teslacoilsw.launcher/.NovaLauncher t25}}} - Window{397fbdbe u0 com.teslacoilsw.launcher/com.teslacoilsw.launcher.NovaLauncher}.  It has been 5015.6ms since event, 5004.7ms

[2016-02-28 03:52] Skyline96 commented on #35
I have another log can i post it here?

[2016-02-28 04:06] gsstudios commented on #35
Sure, just post the link.

[2016-02-28 04:24] Skyline96 commented on #35
Ok I can't find a way to upload log file so i have uploaded to same post at xda skyline
Check the link in your's 1st comment on this issue.
Thanks

[2016-03-12 22:35] gsstudios commented on #35
https://github.com/gsstudios/initramfs3/commit/df66469364d61c32800c10421478e7cfebe6bed5

https://github.com/gsstudios/initramfs3/commit/e81e1af61078e8c4263e1edfeecf96c2cac82b65

Hopefully these two commits solve the problem. If it doesn't, something else is the main cause

[2016-03-13 02:49] gsstudios commented on #35
Under some short testing, it seems that launcher FCs no longer occur. Will test for a longer period of time and report back.

[2016-03-13 20:55] gsstudios commented on #35
Under a whole days of testing, launcher FCs no longer occur. Issue closed :)

[2016-03-16 09:56] gsstudios commented on #35
Just updating further on the issue. It seems that after some long periods of use, FCs still occur, but they are very rare and not common. Much better than before though :)

[2016-03-16 19:55] arny24x7 commented on #35
You shudnt liv dorimanx,,,maybe update it in 6 months..but dnt liv.

[2016-03-17 21:14] gsstudios commented on #35
When I have time, I might release some builds (EOL builds as I like to call it). I still have my build environment so hope is not lost yet :)

[2016-04-26 22:44] gsstudios commented on #35
Reopening this issue so we can find the root cause.

[2016-05-02 21:19] gsstudios commented on #35
Still happening with my latest test build.

[2016-05-04 09:24] gsstudios opened #36 "GCC 6.x support"
Support GCC 6.x based toolchains

[2016-05-04 09:26] gsstudios commented on #36
AFAIK, performance benefits will be very minor, but I'll add support just in-case I want to build using toolchains like UBER 6.0.

[2016-05-04 11:14] chhapil commented on #36
are you using UBER TC?

On Wed, May 4, 2016 at 2:56 PM, Josh notifications@github.com wrote:

##

Thanks & Regards
Ruturaj

[2016-05-04 11:47] gsstudios commented on #36
I am building with linaro 4.9 and UBER 5.3. But I have only selected linaro as the main toolchain.

For gcc6.0 toolchains, I would use uber.

[2016-05-04 20:40] gsstudios commented on #35
Possible workaround: When using Nova Launcher, enable aggressive desktop in the settings.

[2016-05-05 00:13] arny24x7 commented on #35
Can u trace the thread from logcat while its crashing ?

[2016-05-05 08:23] gsstudios commented on #36
GCC 6.0.x toolchain support added in this commit:

https://github.com/gsstudios/Dorimanx-SG2-I9100-Kernel/commit/6257fde8171e0c74029337815099c9b0d5268e6f

No SODs after quick testing.

[2016-05-05 08:23] #36 closed, assigned to gsstudios

[2016-05-07 10:39] gsstudios commented on #35
I'm currently investigating whether this tweak helps or not:

https://github.com/gsstudios/Dorimanx-SG2-I9100-Kernel/commit/091e3674517771c6291337bc1d15a6ed9d9da486

[2016-05-08 03:03] arny24x7 commented on #35
I added proper bln code in lights.c. Grab the latest lights.exynos4.so from cm-13 when its compiled.

[2016-05-08 05:22] gsstudios commented on #35
Thanks, will do so when I start working on MM kernel

[2016-05-08 05:50] arny24x7 commented on #35
lol i am already releasing my kernel for cm...I dont wanna monopolize people anymore. :-p

[2016-05-08 09:32] gsstudios commented on #35
Just repeating my comment in the linked commit. Random Launcher FCs have been solved. :)

[2016-05-08 09:53] gsstudios commented on #35
Random FCs still occur, although there is no more freeze now, I'll keep this open

[2016-06-26 23:40] gsstudios commented on #22
Root install has been broken ever since LP and will not be returning in future builds.

[2016-06-26 23:40] #22 closed, assigned to gsstudios

[2016-07-01 20:59] gsstudios commented on #23
Selinux is now working and is set to permissive :)

[2016-07-01 20:59] #23 closed, assigned to gsstudios

[2016-07-06 12:35] gsstudios commented on #20
Should be solved in DorimanX 12.0 b002

[2016-07-06 12:35] #20 closed, assigned to gsstudios

[2016-07-07 07:13] Realex-fire commented on #2
It seems that this is now fixed. My ext4 sd card is mounted in cm13.

[2016-07-07 07:39] gsstudios commented on #2
Thanks for letting me know. I still need to test if my internal storage runs fine on ext4 before closing this commit :)

[2016-07-07 08:21] gsstudios commented on #2
Yep. Ext4 is running fine on my internal sd card. Once again, I'll have to test on LP as well but I believe this should be solved.
Edit: I shall test the stability for a little longer and will report back. Main bug fixed though :)

[2016-07-07 08:21] #2 closed, assigned to gsstudios

[2016-07-07 08:27] gsstudios commented on #35
I'm pretty sure launcher FCs don't occur in MM. LP seems to be fine also, maybe just very rare occasions, but safe enough to say that it has been fixed.

[2016-07-07 08:27] #35 closed, assigned to gsstudios

[2016-07-07 18:51] Realex-fire commented on #2
I found a new bug:
if at first to launch cm13, then to reboot in recovery and to mount ext4 partitions to PC, then it is possible to find out that the owner and group on the partition changed on 1023, and permissions 775 are set what to lead to impossibility of record of files on the partition without change of the owner.
We need to find the reason, it or cm13 or a kernel.

[2016-07-08 06:52] gsstudios commented on #34
I have now merged f2fs up to what the kernel can allow. It seems were are missing a few changes in order to update further. We're basically using linux kernel 3.16+ f2fs which does have lots of fixes we can take advantage of. Will test soon on CM13.

[2016-07-08 13:52] Realex-fire commented on #34
I think that it is better to rename this issue into advanced support f2fs as basic functions work well.

[2016-07-09 20:16] Realex-fire commented on #34
https://github.com/Realex-fire/initramfs3/commit/5aceac7fd89a0504507ecdab1f7ed9fbebc4d3e0 - Now it should work, but it should be checked. Now the partitions /data and /cache also can be formatted into f2fs.

[2016-07-10 07:52] Realex-fire commented on #34
Have you checked this ? Potentially this should work, but I'm not sure.

[2016-07-10 09:02] gsstudios commented on #34
I haven't tested it yet. So far, there is no issue with other file systems, so I will have to switch to F2FS to find out later.

[2016-07-10 21:48] gsstudios opened #53 "WiFi hotspot is broken"
It has been confirmed that WiFi hotspot is broken. Not too sure if the WiFi driver update caused this issue. CM13 stock kernel works fine, so I guess we may be missing something.

[2016-07-11 06:26] gsstudios commented on #34
I will test out f2fs soon with the latest changes.

[2016-07-11 06:44] gsstudios commented on #34
Works well. I shall test a bit more before releasing.

[2016-07-11 06:44] #34 closed, assigned to gsstudios

[2016-07-11 06:45] gsstudios commented on #9
I don't plan to support other lollipop ROMs anymore.

[2016-07-11 06:45] #9 closed, assigned to gsstudios

[2016-07-11 06:56] gsstudios commented on #34
Only problem is that I still get the error log file on boot because it doesn't detect /cache and /data as ext4.

[2016-07-11 08:57] Realex-fire commented on #34
Everything is normal. File system is detected. The log will be created after each loading because partitions are checked for existence of mistakes every time.
You can be convinced of it. /tmp/data_fs_check - here recorded file system on data partition.

[2016-07-11 09:13] Realex-fire commented on #34
Still some completions of init script are necessary, I will make it soon.

[2016-07-11 09:44] Realex-fire commented on #34
@gsstudios,
https://github.com/Realex-fire/initramfs3/commit/3b9ccc36c0f8de340f98dcaf3b8665c2400ca695 - check it again, now it should work.

[2016-07-11 10:02] gsstudios commented on #34
Thanks. I will test soon.

[2016-07-11 10:59] gsstudios commented on #53
Here is a log:
http://forum.xda-developers.com/showpost.php?p=67695368&postcount=1133

[2016-07-11 11:56] Realex-fire commented on #53
The problem definitely is in the new wifi driver. (hostapd : Could not set channel for kernel driver)

EDIT: Probably we still have a problem with Xposed application, it is worth writing on xda that it can't be used with our kernel. (it is necessary to understand because of what there are problems.)

[2016-07-11 13:08] Realex-fire commented on #53
@gsstudios
I have looked into our wifi driver before upgrade, it was a lot of fixes from  StanTRC and Dorimanx, I think we should temporarily revert to the old driver because the new driver has problems, we ignore changes which were already in the kernel.
It will be the simplest and right decision. further it will be necessary to return to it.

[2016-07-11 14:37] Realex-fire commented on #53
I returned to old wifi driver, everything works at it. All changes in my git repo.

[2016-07-11 20:49] gsstudios commented on #53
No worries. Looks like it will be a lot of work to get new driver working fully.

[2016-07-11 22:00] Realex-fire commented on #53
I was able to fix it ;) Pull Request: https://github.com/gsstudios/Dorimanx-SG2-I9100-Kernel/pull/54

[2016-07-11 22:23] gsstudios commented on #53
Solved in 12.0 b005

[2016-07-11 22:23] #53 closed, assigned to gsstudios

[2016-07-11 23:44] gsstudios opened #55 "Get xposed to work on this kernel"
Xposed seems to be broken when this kernel is installed. CM13 stock kernel doesn't have the same problem.

[2016-07-15 00:59] gsstudios commented on #55
According to reports, it seems that xposed is working if installed as systemless with systemless SuperSU.

[2016-07-16 08:31] gsstudios commented on #21
It seems that IPv6 stweaks option is working again. Too bad I can't test out IPv6 because all of the networks I'm connected to are all IPv4 (I'll see if I can get IPv6 working on my phone when I get back to uni)

[2016-07-18 01:43] gsstudios commented on #21
I've tested IPv6 at my uni and it is working fine :)

[2016-07-18 01:43] #21 closed, assigned to gsstudios

[2016-07-18 05:42] Realex-fire commented on #55
For me system xposed and systemless xposed works well. (last cm13) Logcat clean.  I don't know why it doesn't work for other people... You checked it ? Your logcat without errors ?
Edit:
`cutils-trace error opening trace file permission denied (13)` - I have only such. but it is not errors, it warnings because of the disabled trace in kernel.

[2016-07-18 06:19] gsstudios commented on #55
I'll have to ask users again if they face such issues.

[2016-07-22 23:14] gsstudios commented on #55
I think this can be closed.

[2016-07-22 23:14] #55 closed, assigned to gsstudios

[2016-08-02 11:47] gsstudios opened #73 "Users can not dirty flash CM13 ROM to restore stock kernel"
@Realex-fire

Based on user reports, it is not possible to dirty flash CM13 to restore stock kernel. It is only possible to restore stock kernel by clean flashing (wipe /data) the ROM. Hawker's kernel wipe script doesn't solve this issue either.

I will start by looking at what changes could be causing this.

**Causes:**
- Kernel requires modification of system libraries and build.prop, therefore,

[2016-08-02 11:53] gsstudios opened #74 "Resurrection Remix MM ROM bootloops if cache partition is wiped"
Currently, Resurrection Remix users are not able to wipe cache partition because it can cause a bootloop. Not wiping cache partition avoids this issue, but it may be required at some point of time.

[2016-08-02 12:03] Realex-fire commented on #74
kernel changes a set of parameters in build.prop and replaces system libraries.  For our kernel need the cleanup script.

[2016-08-02 12:03] Realex-fire commented on #73
kernel changes a set of parameters in build.prop and replaces system libraries. For our kernel need new cleanup script.

[2016-08-02 12:05] gsstudios commented on #73
Thanks, I would have thought that we needed a new cleanup script.

[2016-08-02 18:06] ssanjy commented on #74
Wiping cache affects booting of Beanstalk ROM too.

[2016-08-02 20:10] dragonGR commented on #74
RR Mantainer here, how can i help?

[2016-08-02 21:13] Realex-fire commented on #74
First of all we need boot logs (dmesg and logcat).
Ps: In the near future I will be busy and little than I will be able to help, but I will help as far as possible.

[2016-08-03 08:21] xbipin commented on #73
how about edit the  Hawker's kernel wipe script to add the things missing or check the folder and file permissions on the system libs as i think dirty flashing the cm13 rom should replace them

[2016-08-28 11:09] gsstudios opened #75 "Add support for LineageOS/CM14.1"
**PROJECT ALMOST COMPLETE**
The kernel seems to be in working order, but there are some things that need to be handled first before I deem the kernel safe for public availability. My device has shown its age so it may come to me having to do blind builds, however it would be possible for others to take a hand in development while I'm on a different device as daily driver.

Thanks for all of the su

[2016-09-26 12:08] dimzon opened #76 "Built-in PPTP / IPSEC VPN not working"
trying onto this ROM http://forum.xda-developers.com/galaxy-s2/development-derivatives/rom-cyanogenmod-11-t2686887

Both (UBER/Linaro) 12.0 b011 builds make build-in VPN client not working
OpenVPN and other third-party clients works fine

[2016-09-26 21:47] gsstudios commented on #76
I'll see what I can do. Right now, I've stopped development and will be moving to a new device soon.

[2016-10-06 17:41] dimzon commented on #76
[code]

i tried to replace mtpd binary from original ROM - no success (exatly same error)

[2016-10-06 23:11] dimzon commented on #76
please can you check your active kernel config for such values:

[code]

[2016-10-06 23:23] gsstudios commented on #76
Those flags are not present in the kernel defconfig.

[2016-10-06 23:28] dimzon commented on #76
Doesn't you join your config with android_base and android_reccomed ?

Can you make test build with those flags on?

[2016-10-06 23:32] dimzon commented on #76
btw you can use free PPTP account at https://freevpn.me/accounts/ to test PPTP connection

[2016-10-06 23:45] gsstudios commented on #76
Currently my build machine is not set up for building kernels. I have deleted the kernel source locally from my machine as I have discontinued with development.

If you wish to add those flags and build the kernel yourself, here is the defconfig location:
arch/arm/configs/dorimanx_defconfig

Follow the build instructions in the readme.

Sorry, I don't have time to work on the S2 anymore because I

[2016-10-06 23:48] dimzon commented on #76
I believe you will face same problem (no PPTP/L2TP) onto your new device too since it is kernel-side problem ...  So, maybe, you will fix it and backport to S2...

[2017-01-09 23:05] gsstudios opened #77 "Updates for DorimanX kernel"
You probably thought I was going to leave the GS2, but I guess I can't leave the device in the dark especially with DirtyCOW (very serious issue) and other vulnerabilities.

Applies to branches: KK, MM
ETA: Kitkat and Marshmallow builds are up!

Said affected branches will have the following changes:
- Security updates from LineageOS (formerly Cyanogenmod) kernel source
- Change default I/O schedu

[2017-01-09 23:08] gsstudios commented on #75
Probably not going to happen, but we'll see :)

[2017-01-10 07:51] #77 closed, assigned to gsstudios

[2017-01-15 07:55] gsstudios commented on #75
So I've merged the ramdisk and removed support for older android versions :)

[2017-01-15 23:56] gsstudios commented on #75
Currently the kernel just bootloops. I can get past the DorimanX kernel boot logo but that's about all I can get.

[2017-01-23 23:39] gsstudios commented on #75
Here are the boot logs.
[dmesg4.txt](https://github.com/gsstudios/Dorimanx-SG2-I9100-Kernel/files/725270/dmesg4.txt)
[logcat4.txt](https://github.com/gsstudios/Dorimanx-SG2-I9100-Kernel/files/725271/logcat4.txt)

Edit: Even though the init is supposed to load the file_contexts binary file, the logs throw a lot of selinux denials. I might have to convert it to a text based file.

Edit 2: Seems that

[2017-01-24 14:57] Skyline96 commented on #75
Is it possible to do this https://bitbucket.org/arter97/arter97-i9300-release/commits/11cbad19ea8bb74c4f07f3ec96db64f3f4014d90 ?

[2017-01-24 22:32] gsstudios commented on #75
I have managed to get past bootscreen but the ROM is under constant crashing and goes back to bootscreen. Will investigate this soon :)

Edit: Here are the logs
[dmesg8.txt](https://github.com/gsstudios/Dorimanx-SG2-I9100-Kernel/files/728152/dmesg8.txt)
[logcat8.txt](https://github.com/gsstudios/Dorimanx-SG2-I9100-Kernel/files/728153/logcat8.txt)

Edit 2: Here are some issues I've found in the log

[2017-01-25 03:39] gsstudios commented on #75
The constant crashing has been solved! :3 Now I just have to confirm the ROM is functioning well and solve the broken charging percentage (stuck on 100%)

[2017-01-25 22:17] gsstudios commented on #75
Here is a test build of the kernel for people who want to try.

**NO SUPPORT WILL BE GIVEN**
This is just for people who want to help. If you flash this kernel carelessly without the intention of helping me debug issues, you will be on your own and I won't help restore your device. As for those who want to help debug, currently you __can't__ dirty flash LOS 14.1 as you will lose a lot of your devi

[2017-01-26 03:55] Skyline96 commented on #75
Rotation seems to work fine for me.

[2017-01-26 07:01] gsstudios commented on #75
**BATTERY PROBLEM**
I am having trouble seeing what is the main cause of the battery issue.

The logcat hints that it can not obtain battery stats which could be directly related to the healthd driver. I've tried using the old healthd driver used in my M kernel but it results in the same problem. Further investigation will be needed.

**VIDEO RECORDING ISSUE**
I haven't obtained much information f

[2017-01-26 10:30] Skyline96 commented on #75
Did you tried reverting this commit https://github.com/gsstudios/Dorimanx-SG2-I9100-Kernel/commit/0b49d2373f0f18864e49c7cbbce2a0d9502e8a34 ?

[2017-01-26 10:34] gsstudios commented on #75
@Skyline96
That causes the healthd driver to pick up erratic battery stats which is supposed to be resolved with the commit. It does however detect if it is really charging or not which is not observed when using the commit.

Here's what I've tried:
- New healthd + unknown power supply type - 100% bug
- Old healthd + unknown power supply type - 100% bug
- New healthd + battery power supply type -

[2017-01-26 14:11] Skyline96 commented on #75
Did you already seen this its old though but no harm to see https://review.cyanogenmod.org/#/c/55029/ ? ;)
Read the comments once

[2017-01-26 19:42] gsstudios commented on #75
@Skyline96
Interesting.

There were more 'dock' charging commits merged in CM14.1 that should have fixed some of the healthd issues.

These changes may very well be the cause of the crazy battery percentages and hence we now deal with our current issue.

[2017-01-27 03:31] Skyline96 commented on #75
Yes there are https://github.com/LineageOS/android_system_core/search?q=healthd&type=Commits&utf8=%E2%9C%93

[2017-01-27 04:34] gsstudios commented on #75
@Skyline96
Those were the ones I was looking at before.

Our issue must be ever since we switched to unknown power supply, the healthd has nothing else to select/find and is then assuming 'AlwaysPluggedDevice' hence 100% bug.

[2017-01-27 05:16] Skyline96 commented on #75
Okay. What about cortexbrain ?

[2017-01-27 06:51] gsstudios commented on #75
As indicated in the first post, I am not running DorimanX kernel on my test device only because it doesn't allow me to charge up my device.

I haven't found the cause of this problem, I was supposed to investigate this earlier on only to discover my phone is completely dead. It would be best for me to discontinue my efforts to bring this kernel to android N (we know we can port it but there is jus

[2017-01-27 06:59] Skyline96 commented on #75
I have 2 batteries with same problem and now S2 is really showing signs of aging and thats bad everything is over

[2017-03-11 13:22] Realex-fire commented on #75
@gsstudios @Skyline96
Hi guys, my device is still alive, but now I can't continue development because I can't allocate time for it :(
Most likely I will be able to resume development in the summer.

[2017-03-11 22:54] gsstudios commented on #75
@Realex-fire, take all the time you need my friend :)
If we do eventually fix the issues since my last test build, I may release a beta/test build, but I will only provide basic support as I don't have time to play around with the s2 anymore (UNI stuff mainly) :(

[2017-04-26 16:28] dragonGR commented on #75
Might to handle that in weekend. We'll see. :)

[2017-06-08 03:50] gsstudios commented on #75
To anyone who want to try to fix battery charging issues in N kernel, try reverting this commit in the kernel (or adapt changes): https://github.com/LineageOS/android_kernel_samsung_smdk4412/commit/e531c03040b9ad3a86d3b751fb47b3362d85f373.
It is required to enumerate the battery supply type which is currently broken in this kernel.

Figured I was missing something as switching battery type to unkn

[2017-06-08 05:29] gsstudios commented on #75
I've took the freedom to fix the charging issues myself. Original issue (offline animation appearing one) is back, but charging is working properly now

[2017-06-08 05:47] gsstudios commented on #75
Video recording working as well now :)

[2017-06-08 06:18] gsstudios commented on #75
Here is another test build for people to try. I have tested for a bit now ~~(on a very old unofficial build, so don't know what to expect)~~ and I feel it is alright to release only for test purposes. More work will be done when I have time as always!

Edit 1: I've tested on latest LineageOS weekly build and it works fine! A little slow (because no ZRAM and tweaks) but definitely usable :)

**WHAT

[2017-07-20 19:48] Realex-fire commented on #75
Hi, guys,  ( @gsstudios @Skyline96 @dragonGR )
I analyzed our problems with a kernel and came to a conclusion - selinux and new policies of Android nougat is guilty of everything. Now services require a security lab. First of all we need to launch the post-init.sh service(Described in init.rc)(for cortexbrain service). For this purpose we need to write the rule post-init.po and to introduce it in

[2017-07-21 07:42] Realex-fire commented on #75
https://github.com/Realex-fire/android_device_samsung_galaxys2-common/commit/3630425436dfaa22e13ea555311fba8a86166cab :
This should work, 'post-init' will be permissive.

[2017-07-21 08:04] gsstudios commented on #75
Thanks for the necessary changes @Realex-fire
Only problem now is my current test device. As from my previous posts, my device doesn't hold charge very well and refuses to charge up on dorimanx kernel.

[2017-07-21 08:15] Realex-fire commented on #75
I can check. I just can not assemble the ROM due to lack of disk space. I'll check when I get access to a larger hard disk.

[2017-07-22 04:47] Skyline96 commented on #75
@dragonGR can help here if he gets some time for this. I am also not able to compile rom on my system due to lack of space

[2017-07-22 11:39] dragonGR commented on #75
Will do what i can do later today.

[2017-07-23 12:25] dragonGR commented on #75
I've successfully built LineageOS with @Realex-fire suggested commit, will work on kernel part now to pick stuff.

You guys want the rom zip to test ? If so I'll start uploading.

[2017-07-23 12:44] Realex-fire commented on #75
@dragonGR
We need a binary sepolicy and file_contexts.bin files, it is in / after installing ROM

[2017-07-23 13:35] dragonGR commented on #75
The files: https://drive.google.com/open?id=0B94g3GF6NquLNDE5dVVaQnpoVmM

The rom zip if anyone wants it: https://www.androidfilehost.com/?fid=745425885120750747

[2017-07-23 17:00] Realex-fire commented on #75
Yeah! cortexbrain now works ! thx @dragonGR
But there are still many problems. Wifi and default browser not work + logcat spam

[2017-07-23 17:08] dragonGR commented on #75
I'll investigate. About logspam i can silence the spam fest as soon as i get home from work.

[2017-07-23 17:10] Realex-fire commented on #75
Ok, I will soon post all my changes to git

[2017-07-23 17:14] Realex-fire commented on #75
Current kernel version: http://rgho.st/8gQlKfVnm (I will temporarily return old battery charge animation)
Main problem(logcat):
[code]

[2017-07-23 18:25] Skyline96 commented on #75
This seems good. Thanks @dragonGR and @Realex-fire.
Take a look here https://sourceforge.net/p/android-x86/kernel/ci/a49dcf2e745c25a67a76d8a1e9658c16827c9885/

Edit: Hey, What's wrong with wifi? I think it was to working before, afaik.

[2017-07-23 19:20] dragonGR commented on #75
Just returned home. Thanks @Skyline96 and @Realex-fire .

seccomp was recently introduced in android N even tho is around in linux land years years ago, will enable the flags and see.

[2017-07-23 19:43] Skyline96 commented on #75
@dragonGR plz don't forget to report result here if you get time to test changes ;)

[2017-07-23 19:55] Realex-fire commented on #75
Inclusion of these parameters did not work, mediacodec still falls with the same error :(

[2017-07-23 20:40] Realex-fire commented on #75
We got full work! Thanks guys. Tomorrow all the changes will be in my git

[2017-07-23 20:41] Realex-fire commented on #75
@gsstudios @Skyline96 @dragonGR
We got full work! Thanks guys. Tomorrow all the changes will be in my git
LineageOS/CM14.1 support is completed! (Even the camera application is now loaded quickly :) )

Ps: Seccomp is only needed on Linux kernel >3.8

[2017-07-23 20:43] dragonGR commented on #75
Great ! More shit to kang :D :D :D :D :D

[2017-07-23 22:27] gsstudios opened #81 "Roadmap for Dorimanx kernel"
Changes planned:
- [x] Re-add UKMS and LMK changes
- [x] Change ZRAM compression back to LZO, LZ4 always maxes out ZRAM with lower swappiness.
- [x] ~~Tweak ZRAM swappiness and other related settings~~ - Not required
- [x] ~~Update toolchain - Keep linaro, linaro is good~~ - Not required
- [x] ~~Update LMK thresholds to match android N configs. Dori G2 kernel is a lot more aggressive, and I think

[2017-07-24 02:10] Skyline96 commented on #75
Awesome work guys :)

[2017-07-24 10:55] Realex-fire commented on #75
@gsstudios, I sent pull requests:
https://github.com/gsstudios/initramfs3/pull/57
https://github.com/gsstudios/Dorimanx-SG2-I9100-Kernel/pull/82

[2017-07-24 11:21] gsstudios commented on #75
I've merged the changes @Realex-fire
I might throw around some blind builds after I do a few changes l have planned before release.

[2017-07-24 11:46] Realex-fire commented on #75
Ok, I find minor bug: when you first start the system with the dorimanx kernel, the crash of the telephony application. If you install the kernel already on the loaded system, then there is no such problem. In any case, the reboot solves the problem. Same problem on dorimanx cm13 kernel.

[2017-07-25 05:21] gsstudios commented on #81
I've done all of the necessary changes to be satisfied for public release :)

[2017-07-25 05:21] #81 closed, assigned to gsstudios

[2017-07-25 05:22] gsstudios commented on #75
I'll release the kernel when I have time.

[2017-07-25 05:22] #75 closed, assigned to gsstudios

[2017-07-25 08:04] gsstudios commented on #75
Thanks @Realex-fire @dragonGR @Skyline96
Without your efforts, it wouldn't have been possible to have a working kernel on LOS14.
Kernel release is imminent, and it has been a long road to get to this point.

[2017-08-03 02:39] gsstudios opened #93 "Random corruption of data"
The kernel has a history of randomly corrupting users data. I don't truly believe that the kernel all to blame for this issue, but it may be the way it is set up to fix partitions (or something similar). It isn't entirely reproducible on all systems making it hard to get logs or any debug info that would greatly assist in pinpointing any causes.

Better keep this here so that it is kept in mind as

[2017-08-04 08:08] Realex-fire commented on #93
@gsstudios,
I сaught an error in logcat (deleting all sms message in stock sms manager).
**logcat | grep "telephony":**
[code]
**Full log:**
[code]

[2017-08-04 08:17] Realex-fire commented on #93
Full log:
[code]

[2017-08-04 08:18] Realex-fire commented on #93
Based on this, the system panics and begins to recover, also occurs in several crashes.

[2017-08-04 08:35] Realex-fire commented on #93
@gsstudios. @dragonGR Do you have experience with the PackageManager?
https://github.com/omnirom/android_system_sepolicy/commit/8cfbef356cafecbd4ab1003366b3753383766077 - It seems to correct this, but selinux we have permissive and such errors should not be, so the problem is not this.
The question is why did the PackageManager recovery start at all?

[2017-08-04 09:52] Realex-fire commented on #93
Most likely the problem in lineageOS: https://github.com/omnirom/android_system_sepolicy/commit/8cfbef356cafecbd4ab1003366b3753383766077 - Patch Omnirom

[2017-08-04 10:05] Realex-fire commented on #93
https://github.com/omnirom/android_system_sepolicy/commit/8cfbef356cafecbd4ab1003366b3753383766077 - It seems to correct this, but selinux we have permissive and such errors should not be.

[2017-08-04 11:17] dragonGR commented on #93
I am not quite sure but check my PR.

[2017-08-04 11:57] Realex-fire commented on #93
Thank you, I will check. But this takes some time, because the problem does not always arise.

[2017-08-04 12:29] dragonGR commented on #93
Create 5 contacts, reboot, and see.

[2017-08-04 15:44] Realex-fire commented on #93
@dragonGR
Unfortunately this did not help, log is the same.

[2017-08-04 17:34] Realex-fire commented on #93
@dragonGR
Can you build LineageOS with these changes?
https://github.com/Realex-fire/android_system_sepolicy
https://github.com/Realex-fire/android_device_samsung_galaxys2-common

[2017-08-04 22:23] dragonGR commented on #93
I will give me few hours, ETA definitely before 7AM EESTtime

[2017-08-05 01:49] dragonGR commented on #93
@Realex-fire  http://haste.aicp-rom.com/urejovunit.pl

[2017-08-05 11:37] Realex-fire commented on #93
Thank you, so this decision will not work for us. We need to continue the investigation...

[2017-08-05 18:58] Realex-fire commented on #93
Fixed, log is clear ;)

[2017-08-05 18:59] Realex-fire commented on #93
@gsstudios  @dragonGR
Fixed, log is clear ;) https://github.com/gsstudios/initramfs3/pull/62
The problem was in lineageOS + package manager recovery mode is not correct work.
I temporarily disabled playready DRM Support - this fixed the issue.

PS: Old kernel users now must manually delete the /data/data/.drm directory

[2017-08-05 19:06] dragonGR commented on #93
it freakin' scares me the fact we're "missing" shit that got merged in 2016.  loooool

[2017-08-05 19:11] Realex-fire commented on #93
@rINanDO You should take a look at this.

[2017-08-05 21:54] gsstudios commented on #93
Many thanks @Realex-fire
I'll find a way to let people know the situation on this issue.
Its pretty concerning that we need to go around and disable things found in stock lineage because its buggy and breaks stuff.
My VM needs to be rebuilt (due to corruption), which should be completed no later than a day.

[2017-08-05 22:12] dragonGR commented on #93
Any help untill you rebuild your VM?

[2017-08-05 22:18] Realex-fire commented on #93
@gsstudios
In the kernel, new problems are possible: In new builds lineageOS a new powerHAL is introduced, I do not know how it affects us, but he knows how to manage the parameters of governors and maybe our settings from stweaks will stop working. (https://github.com/LineageOS/android_device_samsung_galaxys2-common/blob/cm-14.1/power/power.h)

[2017-08-05 22:54] gsstudios commented on #93
@dragongr
Thanks for offering help, I think that's all for now until I release the next build with all of the changes.
@Realex-fire
I've been following XDA posts about using powerHAL to control pegasusq parameters as prior users felt a lack of control and poor power/performance balance. Glad that we have a workaround for the possible conflicts.

[2017-08-05 23:42] Realex-fire commented on #93
It is not necessary. Because the profile is set once. If this is really necessary in the next version of the kernel, we will change this.

[2017-08-06 00:23] Realex-fire commented on #93
@gsstudios
It is better to completely remove support for PowerHAL: https://github.com/gsstudios/initramfs3/pull/65

[2017-08-23 06:27] questor commented on #74
I've seen this when wiping the cache and starting. Version used: Linux 3.15.0-Dorimanx-V13.0b004-N-SGII-SABER (but to be honest I've not used lineage-os, I'm using resurrection-remix; but kernel is working nice when I don't wipe the cache)
in dmesg I can see that the zygote is killed all the time:

[code]

and in logcat I can see that the telephone-service is compiled:

[code]

but when executing

[2017-08-24 04:40] Realex-fire commented on #76
@gsstudios
I think this should help: https://github.com/Realex-fire/Dorimanx-SG2-I9100-Kernel/commit/d3e3cd5a019a39567eb5867ada2c1982f3fc90bc

[2017-08-24 13:27] Realex-fire commented on #76
In general, vpn works well. Enabling this option will not be superfluous. This will give more freedom to applications when working with IPSEC

[2017-08-30 07:54] questor commented on #74
@dragonGR any idea why a kernel-change triggers this? my guess is that some security stuff is wrong with this kernel, but I have no idea what exactly (the package is available on the device).

[2017-08-30 13:53] questor commented on #33
I have a build with these changes included, but it's more a frankenstein-build. I've integrated the needed changes and two more files needed for proper wakelock-compilation. but I'm not sure how to test my changes (and how to go back. If the kernel is starting, how can I check the success besides a longer or shorter battery life? and if the kernel fails to start, how can I debug what is going on (